{% extends "base.html" %} 
{% block title %}Breakfast Menu{% endblock %}

{% block content %}
<div class="container text-center">
		<div id="breakfast">
<h2>BREAKFAST MENU</h2>
<h3>~ BEVERAGES ~</h3>
<p>Tea: Breakfast and a selection of fruit teas. De-caffeinated available.<br />
Coffee: De-caffeinated available.<br />
Hot chocolate, orange juice.</p>
<h3>~ LIGHT BREAKFAST ~</h3>
<p>Half a grapefruit * Fresh fruit * Cereals with organic milk or natural yoghurt<br />
Croissant * Toast (white, brown, granary) * Selection of jams</p>
<h3>~ COOKED OPTIONS~</h3>
<p>British bacon butty * Sausage sandwich * Home made kedgeree<br />
Omelette -free range eggs with cheeses or mushrooms * Boiled free range egg</p>
<h3>~ FULL ENGLISH ~</h3>
<p>Pork sausage, bacon, mushrooms, grilled tomatoes, baked beans and<br />your choice of fried, poached or scrambled free range hens egg.</p>
<h3>~ VEGETARIAN FULL ENGLISH ~</h3>
<p>Vegetarian sausage, mushrooms, grilled tomatoes and<br />your choice of fried, poached or scrambled free range hens egg.</p>
<p><strong>Food allergies and intolerances:</strong> before you order your food and drinks,<br />
please ask us if you want to know about our ingredients.
</div>
			</div><!-- .entry-content -->
{% endblock %}
