{% extends "base.html" %} 
{% block title %}Breakfast Menu{% endblock %}

{% block content %}

<div class="container">


<ul>
	<li id="linkcat-3" class="linkcat"><h2>King's Lynn</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.kingslynncornexchange.co.uk/" title="A popular entertainment venue featuring everything from opera to pantomime." target="_blank">Corn Exchange</a>
A popular entertainment venue featuring everything from opera to pantomime.</li>
<li><a href="http://www.kingslynnarts.co.uk" title="A lively and accessible arts hub." target="_blank">King’s Lynn Arts Centre Trust</a>
A lively and accessible arts hub.</li>
<li><a href="http://www.smithsthebakers.co.uk/" title="Smiths The Bakers">Smiths The Bakers</a>
Smiths The Bakers</li>
<li><a href="http://www.nationaltrust.org.uk/st-georges-guildhall/" title="National Trust owned, largest surviving medieval guildhall in England." target="_blank">St George&#039;s Guildhall</a>
National Trust owned, largest surviving medieval guildhall in England.</li>
<li><a href="http://thewalks.co.uk/" title="Historic urban park in the heart of King’s Lynn." target="_blank">The Walks</a>
Historic urban park in the heart of King’s Lynn.</li>
<li><a href="http://www.visiteastofengland.com/King&#039;s-Lynn-King&#039;s-Lynn-Tourist-Information-Centre/details/?dms=3&#038;venue=0140503" title="Comprehensive information on local events and attractions as well as information about other destinations and attractions in the East of England." target="_blank">Tourist Information Centre in King&#039;s Lynn</a>
Comprehensive information on local events and attractions as well as information about other destinations and attractions in the East of England.</li>
	</ul>
</li>
<li id="linkcat-4" class="linkcat"><h2>Norfolk</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.houghtonhall.com/" title="Beautiful stately house, gardens and grounds." target="_blank">Houghton Hall</a>
Beautiful stately house, gardens and grounds.</li>
<li><a href="http://www.norfolk-lavender.co.uk/" title="Famous lavender gardens and Lavender Oil Distillery, National Lavender Collection and Herb Garden." target="_blank">Norfolk Lavender</a>
Famous lavender gardens and Lavender Oil Distillery, National Lavender Collection and Herb Garden.</li>
<li><a href="http://www.sandringhamestate.co.uk/" title="The Norfolk retreat of HM The Queen." target="_blank">Sandringham Estate</a>
The Norfolk retreat of HM The Queen.</li>
<li><a href="http://www.thursford.com/" title="Christmas Spectacular is the largest Christmas show in the country!" target="_blank">Thursford Christmas Spectacular</a>
Christmas Spectacular is the largest Christmas show in the country!</li>
<li><a href="http://www.visitnorfolk.co.uk/" title="The Official Visitor Website for Norfolk." target="_blank">Visit Norfolk</a>
The Official Visitor Website for Norfolk.</li>
	</ul>
</li>
 </ul>

</div>

{% endblock %}