{% extends "base.html" %} {% block title %}Location{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
	<div class="col-md-6">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2415.1620865059836!2d0.4056987446899414!3d52.747311085016584!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d78b2645de1c61%3A0xcb162bd009c388cb!2sFairlight+Lodge%2C+Goodwins+Road%2C+King&#39;s+Lynn!5e0!3m2!1sen!2suk!4v1389905002551"
			width="450" height="450" frameborder="0" style="border: 0"></iframe>
	</div>
	<div class="col-md-6">
	<p>
		<strong>By Car:</strong> From A17/A10/A47 Hardwick roundabout, take
		the signs to King’s Lynn. At the Southgates Roundabout, take the
		fourth exit signposted to Gaywood and the College of West Anglia. Go
		straight across a mini roundabout into the second half of Goodwins
		Road. Fairlight Lodge B&#038;B is on your left before the Exton Road
		crossroads.
	</p>
	<p>
		<strong>By Rail:</strong> King&#8217;s Lynn is served by regular fast
		train links to London (approximately every 30 minutes), Cambridge and
		Ely. Fairlight Lodge B&#038;B is within walking distance from the
		King&#8217;s Lynn railway station by crossing &#8216;<a
			href="http://thewalks.co.uk/" title="The Walks">The Walks</a>&#8216;
		diagonally (which takes about 8 minutes).
	</p>
	</div>
	</div>
</div>

{% endblock %}
