{% extends "base.html" %} 
{% block title %}Reviews{% endblock %}

{% block content %}

<div class="container">
	<p>
		<a
			href="http://securebooking.eviivo.com/mywebsite/details.aspx?&#038;shortname=FairlightLdgePE30&#038;viewname=reviews"
			target="_blank">Click to see reviews at eviivo</a>.
	</p>
	<div id="TA_selfserveprop717" class="TA_selfserveprop">
		<ul id="cKPq10" class="TA_links 01CimJl20">
			<li id="mBhofVBEc56" class="btpIYGdqHuW"><a target="_blank"
				href="http://www.tripadvisor.co.uk/"><img
					src="http://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png"
					alt="TripAdvisor" /></a></li>
		</ul>
	</div>
	<p>
		<script
			src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=717&amp;locationId=2083840&amp;lang=en_UK&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=true&amp;border=true&amp;langversion=2"></script>
	</p>
	<div id="TA_certificateOfExcellence139"
		class="TA_certificateOfExcellence" style="float: left">
		<ul id="slaJB9zZS9" class="TA_links kWq4GQ">
			<li id="K1KO1kMavWBz" class="9b0Roa"><a target="_blank"
				href="http://www.tripadvisor.co.uk/Hotel_Review-g315936-d2083840-Reviews-Fairlight_Lodge-King_s_Lynn_Norfolk_East_Anglia_England.html"><img
					src="http://www.tripadvisor.co.uk/img/cdsi/img2/awards/CoE2015_WidgetAsset-14348-2.png"
					alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO" /></a></li>
		</ul>
	</div>
	<p>
		<script
			src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=139&amp;locationId=2083840&amp;lang=en_UK&amp;year=2015&amp;display_version=2"></script>
	</p>
	<div id="TA_excellent168" class="TA_excellent">
		<ul id="8pab1EiW1eab" class="TA_links arOYi0d">
			<li id="OFIWFhrZWWKP" class="VXjhLaMQCSc"><a target="_blank"
				href="http://www.tripadvisor.co.uk/"><img
					src="http://c1.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif"
					alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO" /></a></li>
		</ul>
	</div>
	<p>
		<script
			src="http://www.jscache.com/wejs?wtype=excellent&amp;uniq=168&amp;locationId=2083840&amp;lang=en_UK&amp;langversion=2"></script>
	</p>
</div>

{% endblock %}
