{% extends "base.html" %} 
{% block title %}Breakfast Menu{% endblock %}

{% block content %}
	<div class="container">
<h2>Fairlight Lodge Bed and Breakfast rates</h2>

	<table class="table table-bordered">
		<thead>
			<th>Room</th>
			<th>per room per night from</th>
		</thead>
		<tbody>
			<tr>
				<td>Single (en-suite shower)</td>
				<td>&pound;56.00</td>
			</tr>
			<tr>
				<td>Twin/double (en-suite shower)</td>
				<td>&pound;75.00</td>
			</tr>
			<tr>
				<td>Double/Twin Single Occupancy &#8211; on request</td>
				<td>&pound;60.00</td>
			</tr>
			<tr>
				<td>Garden Room Twin and double en-suite</td>
				<td>&pound;85.00</td>
			</tr>
			<tr>
				<td>Family Room Double &#038; Single bed (separate private
					bathroom) 2 adults + 1 child</td>
				<td>&pound;95.00</td>
			</tr>
			<tr>
				<td>Family Room Double &#038; Single bed plus
					&#8220;Gilda&#8221; (sofa bed) for a small child. (separate private
					bathroom) 2 adults + 2 children</td>
				<td>&pound;105.00</td>
			</tr>
			<tr>
				<td>Family Room Double &#038; Single bed (separate private
					bathroom) 3 adults</td>
				<td>&pound;105.00</td>
			</tr>
		</tbody>
	</table>
	<p>
		Some rooms sometimes we offer £10 off a night when you stay more than
		1 night. Check on the bookings system or email <a
			href="mailto:enquiries@fairlightlodge.co.uk" itemprop="email"><meta
				itemprop="email" content="enquiries@fairlightlodge.co.uk">enquiries@fairlightlodge.co.uk</a>.<br />
		Payment upon arrival.<br /> All rooms are non smoking.<br /> A
		surcharge of 2% applies if paying by credit card and all non UK cards.<br />
		We have a 48 hour cancellation policy.<br /> Please see our <a
			href="http://www.fairlightlodge.co.uk/documents/T&#038;C.pdf"
			title="Terms and Conditions">Terms and Conditions</a>.
	</p>
</div>
{% endblock %}
